absl-py
astor
certifi
Click
ez-setup
Flask
gast
graphviz
grpcio
gunicorn
h5py
itsdangerous
Jinja2
Keras
Keras-Applications
Keras-Preprocessing
PIL
Pillow
pip-autoremove
pysqlite3
PyYAML
tensorboard
tensorflow
termcolor
Werkzeug
